body,html { overflow-x:hidden;}
body { overflow-y:hidden;}
.part1 { height:672px; background:url(../../subject/chongqing/Open/images/temp/a_r1_c1.jpg) no-repeat top center;
  .p1 {  position:absolute; top:70px; left:120px;}
}
.ui-animate-slideInDownAndSwing {
    -webkit-transform-origin:top center;
    -ms-transform-origin:top center;
    transform-origin:top center;
    -webkit-animation-name:slideInDownAndSwing;
    animation-name:slideInDownAndSwing;
  -webkit-animation-duration:2s; animation-duration:2s;
}
@-webkit-keyframes slideInDownAndSwing {
  0% { opacity:0; -webkit-transform:translateY(-50px); transform:translateY(-50px);}
    50% { -webkit-transform:translateY(0); transform:translateY(0);}
    60% { -webkit-transform:rotate(15deg); transform:rotate(15deg);}
    70% { -webkit-transform:rotate(-10deg); transform:rotate(-10deg);}
    80% { -webkit-transform:rotate(5deg); transform:rotate(5deg);}
    90% { -webkit-transform:rotate(-5deg); transform:rotate(-5deg);}
    100% { -webkit-transform:rotate(0deg); transform:rotate(0deg);}
}
@keyframes slideInDownAndSwing {
  0% { opacity:0; -ms-transform:translateY(-50px); transform:translateY(-50px);}
    50% { -ms-transform:translateY(0); transform:translateY(0);}
    60% { -ms-transform:rotate(15deg); transform:rotate(15deg);}
    70% { -ms-transform:rotate(-10deg); transform:rotate(-10deg);}
    80% { -ms-transform:rotate(5deg); transform:rotate(5deg);}
    90% { -ms-transform:rotate(-5deg); transform:rotate(-5deg);}
    100% { -ms-transform:rotate(0deg); transform:rotate(0deg);}
}
.part2 { background:url(../../subject/chongqing/Open/images/temp/bg.png) repeat;font-size:0;
  img { display: block; margin:0 auto; }
  .img2 { margin-top: 43px}
  .img3 { margin-top: 45px}
  .img4 { margin-top: 39px}
  .img5 { margin-top: 55px}
  .img6 { margin-top: 98px}
  .img7 { margin-top: 33px}
  .img8 { margin-top: 72px}
  .ul { margin-top: 28px; position:relative; font-size:0;
    img { display:inline-block; *display:inline; *zoom:1; margin-right:2px;}
    a { position: relative; display:inline;}
  }
  a { position:absolute; display:block; background:url(about:blank);
    &#j-get { width: 199px; height: 50px; left:500px; top: 429px;}
    &#j-start { width: 199px; height: 50px; left:499px; top: 842px;}
    &#j-lottery { width: 195px; height: 47px; left:500px; top: 1242px;}
  }
  .remark { font-size:18px; color:#fff; height:63px; line-height: 63px; font-family:\5fae\8f6f\96c5\9ed1;}
}
.part3 { background:url(../../subject/chongqing/Open/images/temp/bg.png) repeat;overflow: hidden;padding-bottom: 40px;
  .promot { background:url(../../subject/chongqing/Open/images/temp/ggkbg.jpg) no-repeat top center; height: 474px; position:relative;
    .m-chance { font-size:20px;color:#fff;top: 127px; left: 48px;}
    .g-drawcontent { left: 87px;top:188px;  background:url("../../subject/chongqing/Open/images/bingo.png") no-repeat center; font-size:30px;font-weight:bold;line-height:93px;width:426px;height:93px;
      #complete { padding-left:90px;}
  }
    #redux { left: 99px;top: 197px;}
    .m-marqueebox { left: 642px;top:233px; font-size:16px;line-height:27px;width: 320px;height: 160px; overflow: hidden;  
      ul li { text-align:left; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}}
    #record { width: 287px; height: 61px; left: 657px;top:409px; background:url(about:blank); }
  }
}
.ui-layer {
  &.t-layer-qrcode { 
    .ui-layer-box { background-color:#F99339; border-radius:25px; 
      .ui-layer-close  { font-size:65px;top: 16px;right: 3px;width: 70px;height: 70px;}
      .code { width: 247px; height: 247px; padding:15px; background-color: #fff; margin:0 auto; margin-top: 25px}
      p { font-size:46px; color:#fff; text-align:center;
        &.p1 { margin-top: 70px;}
        &.p2 { margin-top: 22px;}
      } 
    }
  }
}
//
.m-tips { padding-top:25px; text-align:center; font-size:18px; color:#E81F18;}
.m-tips span em, .m-tips span { display:inline-block;}
.m-tips span { padding-left:54px; line-height:28px; background:url(../../subject/chongqing/Open/images/ico1.png) no-repeat left center;}
.m-tips.f-err span { padding:0; background:none; text-align:left;}
.m-tips.f-err span em { padding-left:52px; height:43px; line-height:43px; background:url(../../subject/chongqing/Open/images/ico2.png) no-repeat left center;}
.t-layer-showtips .ui-layer-foot { padding:20px 0 25px; text-align:center;}
.t-layer-showtips .ui-layer-box { background-color:#fff;}
// wfy
.ui-layer,.ui-layer-box{background:transparent;}
.m-layer-prize1 { padding:0 28px; height:478px; background:url(../../subject/neimeng/July/images/layer1.png) no-repeat;}
.m-layer-prize1 dl { height:114px; padding-top:52px; text-align:center;}
.m-layer-prize1 dt { color:#fff; font-size:14px;}
.m-layer-prize1 dd { margin-top:8px; font-size:25px; color:#FFF100; font-weight:bold;}
.m-layer-prize1 h4 { font-weight:bold; text-align:center;}
.m-layer-prize1 form { margin-bottom:15px; padding-top:10px;}
.m-layer-prize1 form div { margin-top:10px; overflow:hidden; zoom:1;}
.m-layer-prize1 form div.tc{text-align: center;}
.m-layer-prize1 form div label { float:left; width:44px; line-height:30px;}
.m-layer-prize1 form div .ui-input { padding-left:5px; width:285px; height:28px; line-height:28px\9; border:1px solid #B19A5B; background:#FFF7D3;}
.m-layer-prize1 form div textarea.ui-input { padding-top:4px; height:48px; line-height:normal;}
.m-layer-prize1 p { text-align:center; line-height:20px;color: #282828;}
.m-layer-prize2 { position:relative; height:195px; background:#FFF7D3;}
.ui-prize2 .m-layer-prize2 { text-align:center;}
.ui-prize2 .m-layer-prize2 dl { padding-top:38px;}
.ui-prize2 .m-layer-prize2 dt { font-size:14px; margin-bottom:6px;}
.ui-prize2 .m-layer-prize2 dd { font-size:25px; font-weight:bold; color:#C20E0F;}
.ui-prize2 .m-layer-prize2 p { margin-top:6px; margin-bottom:20px; color:#806A2E;}
.ui-prize3 .m-layer-prize2 { text-align: center;}
.ui-prize3 .m-layer-prize2 img { position:absolute; right:0; bottom:0;}
.ui-prize3 .m-layer-prize2 dl { margin-bottom:40px; padding-top:34px;}
.ui-prize3 .m-layer-prize2 dt { font-size:18px;}
.ui-prize3 .m-layer-prize2 dd { margin-top:12px; font-size:25px; color:#FA3F50;}
.ui-prize4 .m-layer-prize2 { text-align:center;}
.ui-prize4 .m-layer-prize2 dl { padding-top:38px;}
.ui-prize4 .m-layer-prize2 dt { font-size:14px; margin-bottom:6px;}
.ui-prize4 .m-layer-prize2 dd { font-size:25px; font-weight:bold; color:#C20E0F;}
.ui-prize4 .m-layer-prize2 p { margin-top:6px; margin-bottom:20px; color:#806A2E;}
.m-layer-prize3 {  height: 225px; background:url(../../subject/chongqing/Open/images/huafei.png) no-repeat top center;padding-top: 287px;padding-left: 70px;
  .tel {  width: 370px; height: 70px; line-height: 70px;  background:transparent; border: 1px solid #FEF420; border-radius:10px; font-size:44px;  color:#fff; padding-left:30px;}
   b { font-size:34px; left:53px !important; color:#852914 !important;}
  .sure { width: 320px; height: 90px; margin-top: 14px; margin-left: 45px; background:url(about:blank); }
}
.t-layer-alert { padding:0;}
.t-layer-alert .ui-layer-box { background: #FFF7D3;}
.t-layer-alert .ui-layer-button { padding:0; width:112px; height:30px; border:none; line-height:30px; text-align:center; font-size:14px; color:#fff; background-color:#FA3F50;}
.t-layer-alert .ui-layer-main { padding-top:0px;}
.t-layer-alert  p.s-nodata {margin: 0;padding-bottom: 20px!important;font-size: 20px;text-align: center;}
.m-notime h4 { font-weight:bold; text-align:center; font-size:25px; padding-top: 50px;color:#5a5b5e;}
.m-notime p { font-size:14px; margin-top:5px;}
.m-notime .ui-btn{margin-top: 45px;}
.ui-btn { display:inline-block; width:112px; height:30px; line-height:30px; text-align:center; font-size:14px; color:#fff; background-color:#FA3F50; cursor:pointer;border-radius:0px;padding:0px;}
.u-fanhui{color:#FA3F50;background-color:transparent;border:1px solid #FA3F50;margin-left: 30px;}
.u-fanhui:hover{color:#FA3F50;}

.m-recordbox { padding: 30px 35px 0;background:#FFF7D3;color: #323232;}
.m-recordbox li { padding-bottom:12px; margin-bottom:12px; border-bottom:1px solid #282828; overflow:hidden; zoom:1;}
.m-recordbox .ui-btn{margin-left: 180px;margin-bottom: 20px;}
.m-recordbox p { margin-top:20px; padding-bottom:25px; line-height:20px;}
.m-recordbox p.s-nodata { margin:0; padding-bottom:20px; font-size:20px;text-align: center;}
.m-recordbox dl { float:left; width:330px;}
.m-recordbox dt { font-size:14px;}
.m-recordbox dd { margin-top:5px; height:27px; line-height:27px; overflow:hidden; font-size:25px; font-weight:bold; color:#FA3F50;}
.m-recordbox div { text-align:right;}
.m-recordbox div span, .m-recordbox div em { display:block; color:#282828;}
.m-recordbox div em { margin-top:20px;}
.m-recordbox div span strong { color:#957602; cursor:pointer;}
.m-record .ui-loading { color:#fff;}
.ui-layer.ui-layer-record .ui-layer-box .ui-layer-close { color:#EB271E; right:25px;}

.m-userbox { padding:20px 30px;background:#FFF7D3;text-align: center;}
.m-userbox h4 { margin-bottom:15px; color:#282828; font-size:14px;font-weight: 600;}
.m-userbox div { margin-bottom:10px; overflow:hidden; zoom:1;}
.m-userbox div label { float:left; line-height:30px;}
.m-userbox p{color:#282828;}
.m-userbox .ui-input { padding-left:5px; width:275px; height:28px; line-height:28px\9; border:1px solid #AD9556;background:transparent;}
.m-userbox textarea.ui-input { height:48px; padding-top:4px; line-height:normal;}
.m-userbox .u-fanhui{display:none;}
.ui-prize2 .m-layer-xiugai dd{padding-top: 10px;padding-bottom: 25px;}

.m-paging { height:26px; text-align:center;padding-left: 46px;position: absolute; bottom: 18px;}
.m-paging .ui-paging { background:none;}
.m-paging .ui-paging, .m-paging .ui-paging li { display:inline; line-height:normal;}
.m-paging .ui-paging a, .m-paging .ui-paging em, .m-paging .ui-paging span { display:inline-block; border:none;}
.m-paging .ui-paging em { height:26px; line-height:26px;}
.m-paging .ui-paging a, .m-paging .ui-paging span { padding:0 8px; width:auto; height:26px; line-height:26px; color:#ffb404;border: 1px solid #ffb404;}
.m-paging .ui-paging span.s-crt { color:#fff; background-color:#ffb404;}
.m-paging .ui-paging a:hover { background-color:#ffb404;color:#fff;}
.ui-paging span {background-color: #efefef;}
.ui-paging span.s-crt{background:#ffb404;color:#fff;}
.ui-layer{box-shadow: none;}


.m-con ::selection{background:transparent;}
.m-con ::-moz-selection{background:transparent;}

.m-logintab .ui-btn{width:100%;height:40px;border-radius: 3px;}